<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Asset/Style.css' %}">
</head>
<body>
    <div class="contact-form">
        <h2>Contact Me !</h2>
        <div class="form-row">
            <input type="text" placeholder="Nama Lengkap" />
            <input type="email" placeholder="Alamat Email" />
        </div>
        <div class="form-row">
            <input type="text" placeholder="Nomor Ponsel" />
            <input type="text" placeholder="Subjek Email" />
        </div>
        <textarea placeholder="Pesan Anda"></textarea>
        <button>Kirim Pesan</button>
    </div>
      
</body>
</html>