<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Asset/Style.css' %}">
</head>
<body>
    <div class="organization-section">
        <h2>Organisasi</h2>
        <div class="organization-table">
            <div class="organization-row">
                <div class="organization-column"><strong>Nama Organisasi</strong></div>
                <div class="organization-column"><strong>Peran</strong></div>
                <div class="organization-column"><strong>Tahun</strong></div>
            </div>
            <div class="organization-row">
                <div class="organization-column">OSIS SMP Nurul Huda</div>
                <div class="organization-column">Anggota</div>
                <div class="organization-column">2017 - 2018</div>
            </div>
            <div class="organization-row">
                <div class="organization-column">Osis SMA Nurul Huda</div>
                <div class="organization-column">Kabid</div>
                <div class="organization-column">2019 - 2020</div>
            </div>
            <div class="organization-row">
                <div class="organization-column">BEM Universitas Pendidikan Indonesia</div>
                <div class="organization-column">Staff</div>
                <div class="organization-column">2023 - Sekarang</div>
            </div>
        </div>
    </div>
    
</body>
</html>